/* ----------------------------------------------------------------

	Name: Mighty Responsive Media Queries
	Version: 1.1
	
-----------------------------------------------------------------*/


@import url('slicknav.css');


/*-------------------------------------
   0. RESPONSIVE MEDIA QUERIES
-------------------------------------*/

@media only screen and (min-width: 1000px) {

	.slicknav_menu {
		display: none;
		}

}


@media only screen and (max-width: 999px) {

	.slicknav_menu {
		background: #EFEFEF;
		display: block;
	}

	.slicknav_btn {
		line-height: 0;
	}

	a.slicknav_btn {
		background-color: #FFF;
		border-bottom: none;
	}

	a.slicknav_btn:hover {
		background-color: #000;
		border-bottom: none;
	}

	a.slicknav_btn:hover .slicknav_menutxt {
		color: #FFF;
	}

	.slicknav_menu .slicknav_icon {
		margin: 0;
	}

	.slicknav_menu .slicknav_icon-bar {
		background-color: #333;
	}

	a.slicknav_btn:hover .slicknav_icon .slicknav_icon-bar {
		background-color: #FFF;
	}

	.slicknav_menu .slicknav_menutxt {
		font-size: 14px;
		line-height: 15px;
		color: #000;
		font-weight: 600;
	}

	.slicknav_nav li {
		text-align: left;
	}

	.slicknav_nav a {
		color: #000;
		border-bottom: none;
	}

	.slicknav_nav a:hover,
	.slicknav_nav .slicknav_item:hover {
		border-radius: 4px;
		background: #FFF;
		color: #000;
	}

	.slicknav_nav .slicknav_arrow {
		font-size: 0.8em;
		margin: 0 0 0 0.4em;
		color: red;
	}

	#header .logo {
		float: none;
		display: inline-block;
	}

	#header nav {
		padding-top: 0px;
	}

	ul#nav {
		display: none;
	}

	.wrap {
		width: 93.7%;
		overflow: hidden;
	}

	#header .custom img {
		max-width: 100%;
	}

	body.home #hero .poster img {
		width: 100%;
		height: auto;
	}

	body.home #columns .column {
		float: none;
		width: 66%;
		margin: 0 auto 35px auto;
	}

	#portfolio .post,
	body.page-template-template-portfolio-php #content .post,
	body.page-template-template-portfolio-infinite-php #content .post,
	body.archive-portfolio {
		float: left;
		width: 31%;
		margin-right: 3.3%;
		margin-bottom: 45px;
	}

	#portfolio .last,
	body.page-template-template-portfolio-php #content .last,
	body.page-template-template-portfolio-infinite-php #content .last,
	body.archive-portfolio #content .last {
		margin-right: 0;
	}

	#portfolio .post a,
	body.page-template-template-portfolio-php .item a,
	body.page-template-template-portfolio-infinite-php .item a,
	body.archive-portfolio .item a {
		border-bottom: none;
		height: 100%;
		width: 100%;
	}

	#portfolio .post img,
	body.page-template-template-portfolio-php #content .post img,
	body.page-template-template-portfolio-infinite-php #content .post img,
	body.archive-portfolio #content .post img {
		height: auto;
		width: 100% !important;
	}

	#portfolio .post a .overlay,
	body.page-template-template-portfolio-php #content .post .overlay,
	body.page-template-template-portfolio-infinite-php #content .post .overlay,
	body.archive-portfolio #content .post .overlay {
		height: 100%;
		width: 100%;
	}

	#portfolio h2 {
		margin-bottom: 30px;
	}

	body.home #clients img {
		width: 100%
	}

	#blog .post {
		float: none;
		width: 66%;
		margin: 0 auto 40px auto;
	}

	#blog .last {
		margin-bottom: 0px;
	}

	#enews {
		text-align: center;
	}

	#enews form {
		width: 76.65%;
		height: auto;
		text-align: center;
		margin: 0 auto 40px auto;
	}

	#enews form i,
	#enews form label,
	#enews form input[type="email"],
	#enews form input[type="submit"] {
		float: none;
		display: inline-block;
		margin-right: 0;
	}

	#enews form i {
		margin-right: 10px;
	}

	#enews form label,
	#enews form input[type="email"] {
		text-align: center;
		margin-bottom: 20px;
	}

	#enews form input[type="email"] {
		width: 81.7%;
	}

	#enews form input[type="submit"] {
		position: static;
	}

	#sidebar {
		float: left;
		width: 80%;
	}

	.full-width {
		width: 100% !important;
	}

	body.single-portfolio #content,
	body.single-portfolio #content .entry-image img,
	body.single-portfolio .entry-content,
	body.single-portfolio .entry-header {
		width: 100%;
		height: auto;
	}

	#sidebar-footer .widget {
		float: none;
		display: block;
		width: 95%;
		margin: 0 auto 45px auto !important;
	}

	#sidebar-footer .mighty_social_widget li:nth-child(5n) {
		margin-right: 15px;
	}

}


@media only screen and (max-width: 640px) {

	body.single-portfolio #content,
	#content {
		width: 100%;
	}

	.entry-image img {
		width: 100%;
		height: auto;
	}

	#content #comments .comment-author,
	#content #comments .comment-content,
	#content #comments .comment-reply {
		float: none;
		width: auto;
	}

	#content #comments ol .children {
		margin-left: 10%;
	}

	#content #comments .children .comment-content,
	#content #comments .children .comment-reply {
		float: none;
		width: auto;
	}

	#content #comments .children .comment-author,
	#content #comments .children .comment-content,
	#content #comments .children .comment-reply {
		float: none;
		width: auto;
	}

	#content #respond textarea {
		width: 94%;
	}

	#content #comments ol #respond,
	#content #comments ol .children #respond {
		margin-left: 0;
	}

	body.page-template-template-contact-php #contact-form input[type="text"],
	body.page-template-template-contact-php #contact-form textarea {
		width: 94%;
	}

	#sidebar-footer .widget {
		float: none;
		display: block;
		width: 89%;
		margin: 0 auto 45px auto !important;
	}

}


@media only screen and (max-width: 480px) {

	body.home #columns .column {
		float: none;
		width: 80%;
		margin: 0 auto 35px auto;
	}

	#portfolio .post,
	body.page-template-template-portfolio-php #content .post,
	body.page-template-template-portfolio-infinite-php #content .post,
	body.archive-portfolio #content .post {
		float: none;
		display: block;
		width: 300px;
		margin: 0 auto 45px auto !important;
	}

	#portfolio .last,
	body.page-template-template-portfolio-php #content .last,
	body.page-template-template-portfolio-infinite-php #content .last,
	body.archive-portfolio #content .last {
		margin-right: 0;
	}

	#portfolio .post a,
	body.page-template-template-portfolio-php .item a,
	body.page-template-template-portfolio-infinite-php .item a,
	body.archive-portfolio.item a {
		border-bottom: none;
		height: 300px;
		width: 300px;
	}

	#portfolio .post img,
	body.page-template-template-portfolio-php #content .post img,
	body.page-template-template-portfolio-infinite-php #content .post img,
	body.archive-portfolio #content .post img {
		height: 300px;
		width: 300px;
	}

	#portfolio .post a .overlay,
	body.page-template-template-portfolio-php #content .post .overlay,
	body.page-template-template-portfolio-infinite-php #content .post .overlay,
	body.archive-portfolio #content .post .overlay {
		height: 300px;
		width: 300px;
	}

	#blog .post {
		float: none;
		width: 80%;
		margin: 0 auto 40px auto;
	}

	#sidebar {
		float: none;
		width: 300px;
	}

	#sidebar-footer {
		text-align: center;
	}

	#sidebar-footer .widget {
		float: none;
		display: block;
		width: 300px;
		margin: 0 auto 45px auto !important;
	}

	#sidebar-footer .mighty_social_widget li:nth-child(5n) {
		margin-right: 0;
	}

}