

.clearfix:before,
.clearfix:after {
 	content: " ";
	display: table;
}


.clearfix:after {
 	clear: both;
}


/* ============================================================================= */


/* HEADING WITH ICON */

h3 i[class^="icon-"],
h3 i[class*=" icon-"],
h3 i.fa {
	font-size: 22px;
	margin-right: 16px;
	line-height: 39px;
	text-align: center;
	color: #B7C6C9;
	background: #fff;
	border-radius: 50%;
	border: 4px solid #dde4e6;
	display: inline-block;
	width: 47px;
}


h3 i[class^="icon-"]:before,
h3 i[class*=" icon-"]:before,
h3 i.fa:before {
	display: inline;
	margin-left: 0;
	margin-right: 0;
}


/* ============================================================================= */


/* Custom Theme Blog Widget -> no featured image overflow fix */

.media-cell-desc {
    margin-top: 38px;
}


.media-box + .media-cell-desc {
	margin-top: 0;
}


/* ============================================================================= */


.navigation > div + div {
	float: right;
}


/* ============================================================================= */


.portfolio-items .media-box p {
	margin: 0px;
}


/* ============================================================================= */


.intro p {
    margin: 0px;
}


/* ============================================================================= */


blockquote p {
    margin: 0px;
}


/* ============================================================================= */


.date + p {
    margin: 0px;
}


/* ============================================================================= */


.blog-single .entry-content blockquote p {
	font-size: 1em;
	line-height: 1.6;
}


/* ============================================================================= */


.post-password-required .post-password-form label {
	display: inline-block;
}


/* ============================================================================= */


.blog .featured-image {
	text-align: left;
}


.blog .featured-image img {
	display: inline-block;
}


/* ============================================================================= */


.single .link-content {
	text-align: center;
}


/* ============================================================================= */


.service i + p {
    display: none;
}


/* ============================================================================= */


.fun-fact i + br {
    display: none;
}


/* ============================================================================= */


.testo img + br {
    display: none;
}


/* ============================================================================= */


.entry-meta a {
    display: inline-block;
    padding: 0px 10px;
    margin-bottom: 5px;
}


/* ============================================================================= */


.single-page-layout .vs-nav.menu-default li,
.single-page-layout .vs-nav.menu-custom li {
	margin-bottom: 0;
}


.single-page-layout .vs-nav.menu-default li a,
.single-page-layout .vs-nav.menu-custom li a {
	letter-spacing: 0;
	font-size: 16px;
	margin: 0 8px;
}


.single-page-layout .vs-nav.menu-default,
.single-page-layout .vs-nav.menu-custom {
	margin-top: 1em;
}


body.blog .vs-nav.menu-default,
body.blog .vs-nav.menu-custom {
	text-transform: uppercase;
}


/* ============================================================================= */


body {
	display: block !important;
}


/* ============================================================================= */


.blog-single .entry-content .yarpp-related-none p {
	text-align: center;
	text-transform: uppercase;
	
	font-weight: 900;
	
	font-size: 14px;
	line-height: 1.6;
	
	letter-spacing: 1px;
	
	color: #DDE4E6;
}


.blog-single .entry-content .yarpp-related {
	margin: 0px !important;
}


.blog-single .entry-content .related-posts h3 {
	font-weight: 900 !important;
	font-size: 14px !important;
	
	padding: 0px !important;
	margin: 1.0em 0px !important;
}


.blog-single .entry-content .related-posts a {
	font-weight: 300 !important;
}


.blog-single .entry-content .related-posts a:hover {
	text-decoration: underline !important;
}

